
/*colors# #7E9AD1 light blue
          #343B70 new blue
          #876C58 brown base
          #798751 light green
          #457050 dark green
          #775187 violet accent
          hsla(262, 86%, 72%, .25) cooling headline background
*/

*{
  box-sizing: border-box;
  font-size: 1.11em;
  color: #fff;
  text-shadow: 1px 1px 1px #000;
}
body{
    font-family: "Gabriola", serif;
    background-color: #343B70;
}
.bg-color {
  background-color: #876C58;
}
.bg-white{
  background-color: #fff;
  box-sizing: border-box;
}
h1{
  margin: 0;
  padding: 0;
  line-height: .7;
  color: #000;
}
p{
  margin-top: 25%;
}
hr{
  width: 80%;
  padding-left: 10%;
  border-top: 1px solid #775187;

}

.hr {
  margin-left: 3%;
}

/************** HOME Area ******************/
#home{
  height: 25em;
  width: auto;
  text-align: center;
  background-image: url('../images/home_hero.jpg');
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;

}

.headline{
  margin: 0 auto;
  height: 1%;
  /*width: 25%;*/
  opacity: 1;
  /*z-index: 1;*/
}
.headline h1{
  text-shadow: 1px 1px 1px #798751;
  opacity: 1;
  padding-top: 7%;
  color: #000;
  font-size: 3em;
  position: relative;
  left: 112%;
  top: 0;
  /*z-index: 1;*/
}
.call{
  margin: 3% auto;
  height: auto;

  opacity: 1;
  /*z-index: 1;*/
}
.call p {
  /*z-index: 1;*/
  margin-top: 0;
  margin: 0;
  text-shadow: 1px 1px 1px  #798751;
  position: relative;
  top: 120px;

}
.op{
  margin: 0 auto;
  position: relative;
  top:0;
  background-color: hsla(262, 86%, 72%, .25);
  width: auto;
  height: 22.52em;
  /*z-index: -1;*/
}
/****************** About Area **************************/
.personal{
  width: 100%;
  margin: 0 auto
}
.photo{
  width: 75%;
  border-radius: 50%;
  padding-top:  5%;
  margin: 10%;
}
.quickbit{
  padding-top: 5%;
}
.work-image{
  padding-bottom: 1%;
}
.work-image img{
  width: 85%;
  margin: 5%;
}
.snipp{
padding: 0 0 0 0;
}
.snipp p{
  width: 85%;
  margin: 5% auto;
  text-align: center;
}
/******************* contact area***********************/

#contact {
  background-color: #457050;
  height: 300px;
}
#contact div{
  height: 200px;
}
#contact i{
  position: relative;
  bottom: 60px;
  font-size: 2.5em;
  text-align: center;
  left: 16%;
}
.contact-p{
  margin-top: 6%;
  text-align: center;
}

/*#contact .icons a{
  position: relative;
  top: 50%;
  left: 50%;
  transform: translateY(-50%);
  transform: translateX(-50%);


}*/
#footer p{
  margin: 0;
  text-align: center;
}

/******************* NavBar *******************/
.navbar{
  background-color: #7E9AD1;
  border: none;
}
nav li:hover{
  background-color: hsla(142, 22%, 49%, .5);
}
/*********************** footer **********************************/
#footer{
  height: auto;
  width: auto;

}


/**************** Bootstrap Overrides**********************/
.container-fluid{
  margin: 0;
  padding: 0;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #555;

}
.navbar-default .navbar-nav>li>a {
    color: #000;
}
@media (max-width: 991px){
  #contact i{
    position: relative;
    bottom: 60px;
    font-size: 2.5em;
    text-align: center;
    left: 12%;
  }
}
@media (max-width: 767px) {
  #contact i{
    position: relative;
    bottom: 60px;
    font-size: 2.5em;
    text-align: center;
    left: 10%;
  }
  .headline h1 {
    text-shadow: 1px 1px 1px #798751;
    opacity: 1;
    padding-top: 7%;
    color: #000;
    font-size: 3em;
    position: relative;
    left: 1%;
    top: 0;
    /* z-index: 1; */
}
}
@media (max-width: 680px) {
  #contact i{
    position: relative;
    bottom: 60px;
    font-size: 2.5em;
    text-align: center;
    left: 8%;
  }
}

@media (max-width: 480px){
  #contact i{
    position: relative;
    bottom: 60px;
    font-size: 2.5em;
    text-align: center;
    left:3%;
  }
}
